

.new-expense-container {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
  }
  
  .new-expense-input {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 0.5rem; 
  }
  
  .new-expense-input label {
    min-width: 100px; 
  }
  
  .new-expense-input input,
  .new-expense-input select {
    flex: 1; 
  }
  
  .new-expense-action {
    display: flex;
    justify-content: flex-end; 
    gap: 0.5rem; 
  }
  
  button {
    padding: 0.5rem 1rem; 
  }
  
  .form-status-message{
    background-color: red;
    margin-top: 10px;
    
  }
  